<div class="leftboxes">
<h4>הידעת?</h4>
חוק אוהם התגלה ב־1826 על ידי גאורג אוהם, והוא מציג קשר פשוט ועם זאת חשוב בין המתח, הזרם וההתנגדות החשמלית בחומרים מסוימים. חוק אוהם הוא אחד החוקים הבסיסים ביותר בתורת המעגלים החשמליים.
</div>

<div class="leftboxes">
<h4>משתמש ברגע</h4>
	<div class="random-user">
	<%= image_tag(@random_user.profile_pic) %> <br>
	<%= link_to @random_user.name, @random_user %><br>
	<span class="title"><i><%= @random_user.title %></i></span>

	</div>
</div>