<div class="leftboxes" style="text-align: right; line-height: 1.4em;">
<h4>ככה לפני שמדביקים (פוסט)</h4>
- לא לשכוח לחפש ולבדוק קודם <br />
- גוגל איז יור פרינד <br />
- כותרת עניינית! <br />
- נמקו, פרטו והסבירו <br />
- בשביל קוד, השתמשו ב-<a href="http://gist.github.com" target="_blank">גיסט</a><br />
</div>
