<div style="float: right; width: 700;">
  <%= new_post %>

</div> <BR><br>
<div id="posts">

  <ul id="posts_index">
    <%= render @posts %>
</ul>
<br>
    <%= will_paginate @posts %>
</div>


<%= render 'leftside' %>


