<div style="float: right; width: 700;">
	<%= link_to 'האקווריום', posts_path %>  >> פוסט חדש
</div> <BR><br>

<div id="viewpost" style="width: 650px;">
<%= render 'form' %>
</div>

<%= render 'leftside_new_post' %>
