body {
	background-image: url(/assets/groovepaper.png);
	margin: 0;
	font: 10pt arial;
}

h2 {
	font: 12pt arial;
	color: #03787f;
	font-weight: bold;

}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

#logo {
	width: 134px;
	height: 162px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
}

#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

#posts {
	height: auto;
	font: 9pt arial;
	background-color: white;
	width: 720px;
	float: right;
	border: 1px solid #b0cacb;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; 
}

#posts ul {
	list-style-type: none;
	margin: 0; }

#posts li {
	list-style-type: none;
	margin-right: -40px;
	min-height: 30px;
	padding: 8px;
	padding-bottom: 15px;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
}

#posts .titles {
	background-color: #eee;
	height: 14px;
}


#posts li:hover {
	background-color: #fbfbfb;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

#posts .title {
	width: 370px;
	display: inline;
	float: right;
	font: 11pt arial;
	/*background-color: red;*/
}

#posts .intro {
	color: #767676;
	font-style: italic;
	font: 11pt arial;
}

#posts .author {
	width: 100px;
	display: inline;
	float: right;
	/*background-color: blue;*/
}

#posts .stats {
	width: 80px;
	display: inline;
	float: right;
	/*background-color: red;*/
}

#posts .last_active {
	width: 140px;
	display: inline;
	float: left;
}

h4 {
	font: 10pt arial;
	color: #73b2b5;
	font-weight: bold;
	margin-top: 0;
}

.leftboxes {
	padding: 8px;
	padding-right: 10px;
	width: 180px;
	border-right : 1px solid #c4c4c4;
    float: left;
    padding-bottom: 20px;
    text-align: justify;
    margin-bottom: 23px;
    text-shadow: 0px -2px white; }

.title {
	font: 10pt arial;
	font-weight: normal;
	color: gray;
}

.random-user {
	text-align: center;
	width: 100%;
	font: 9pt arial;
	font-weight: bold;
}

.random-user img {
	border: solid 2px #eee;
}

#form_user_update {
	width: 500px;
	float: right; }

#form_user_update div {
	float: left;
	display: block;
}
#form_user_update label {
	float: right;
	display: block;
}

.search-style {
	float: left;
	margin-top: -10px;
}

.search {
	width: 150px;
	height: 23px;
	background-color: #232323;
	color: #eee;
	border: solid 1px gray;
	outline: none;
	padding-right: 5px;
	padding-left: 5px;
}

.search-btn {
	background-image: url(/assets/search.png);
	width: 28px;
	height: 26px;
	border: solid 1px gray;
	padding: 5px;
	margin-right: 3px;

}